header{
    background-image: url(assets/bachichaSinFondo.png),linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-repeat: no-repeat;
    background-position: center;
}

.letra-color { background: linear-gradient(to right, rgb(255, 1, 162),rgb(32, 140, 255)); -webkit-text-fill-color: transparent; -webkit-background-clip: text; }

.resize{
    font-size: 3rem;
    padding: 5px 10px;
    color: cornflowerblue;
}